html{
    height: auto;
    width: 250px;
}

h2{
    color: #FF0000;
    font-weight: bolder;
}

.btn{
    background-color: rgba(255, 0, 0);
    border-color: red;
}

.btn:hover{
    background-color: red;
}