html{
    height: auto;
    width: 250px;
}

#heading, #profile{
    text-align: center;
}

h2{
    color: #FF0000;
    font-weight: bolder;
}

p{
    margin: 0px;
}

.btn{
    background-color: rgba(255, 0, 0);
    border-color: red;
}

.btn:hover{
    background-color: red;
}

a,a:hover{
    margin-top: 5px;
    cursor: pointer;
    color: red;
    text-decoration:none;
    font-size: 10px;
}

#profile{
    font-size: 12px;
}